<div class="grid">
<div [@fadeIn]  class="grid-item grid-item-1 logo"  ></div>
    <div class="grid-item grid-item-2  ">
        <div class="intro">
        </div>
    </div>
    <div class="grid-item grid-item-3">
        <h1>Qui somme nous ?</h1>
    </div>
    <div class="grid-item grid-item-4">
        <h1>NEXTON AGENCY est une équipe axée sur les tendances digitales.
             Nous concevons et produisons des services sur-mesure. L’agence est localisé sur deux sites, une partie de l’équipe à Paris et l’autre en Corrèze. </h1>
    </div>
    <div class="grid-item grid-item-5">
        <h1>Fort de ses 3 pôles de compétences, NEXTON mutualise ses ressources pour être en adéquation totale avec vos besoins et en impliquant l’ensemble des briques et expertises métiers nécessaires à l’accomplissement de la prestation.</h1>

        <div class="grid-item grid-item-9 "><p [@fadeIn] class="text-menu-expertise text-right">Expertise</p></div>
    </div>
    <div class="grid-item grid-item-6">
        <h1>NEXTON PARIS
            5-7 Rue Saint-Fiacre, 75002 Paris
            +33 1 81 69 73 90</h1>
    </div>
    <div class="grid-item grid-item-7">
        <h1>NEXTON SAINT-AUGUSTIN
            Champ Paillard, 19390 Saint-Augustin
            +33 1 81 69 73 90</h1>
    </div>
</div>

