@import "src/style/variables";
@import "src/style/mixin";

.grid{
  @include default_grid(7%, 0.5vw, 0.5vh);
}
.grid-item {
  background: #0e0e0e;
  text-transform: uppercase;
  font-size: 14px;
}

.grid-item-1 {
  grid-column: col 2/ span 2;
  grid-row: row / span 2;
  margin-top: 1vw;
}

.grid-item-2 {
  grid-column: col 5/ span 6;
  grid-row: row / span;
}

.grid-item-3 {
  grid-column: col 11 / span 2;
  grid-row: row / span 1;
  margin-top: 1vw;
}

.grid-item-4 {
  grid-column: col / span 12;
  grid-row: row 2 /span 1;
}

.grid-item-5 {
  grid-column: col / span 4;
  grid-row: row 3 / span 2;
}

.grid-item-6 {
  grid-column: col 5 / span 3;
  grid-row: row 3 / span 7
}

.grid-item-7 {
  grid-column: col 8 / span 5;
  grid-row: row 3 / span 2;
}

.grid-item-8 {
  display: flex;
  grid-column: col 2/ span 3;
  grid-row: row 6 / span 1;
}

.grid-item-9 {
  display: flex;
  grid-column: col 8 / span 4;
  grid-row: row 6/ span 1;
}

.grid-item-10 {
  grid-column: col / span 4;
  grid-row: row 7/ span 3;
}

.grid-item-11 {
  grid-column: col 8 / span 4;
  grid-row: row 8/span 2;
  text-transform: initial;
  display: grid;
  grid-template-columns: repeat(1, [col] 1fr);
  grid-template-rows: repeat(3, [row] 30%);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 0.2vw;
  grid-row-gap: 0.2vh;

}

.grid-item-separator{
  grid-column: col / span 12;
  grid-row: row 10 / span 1;
}

.grid-item-12 {
  grid-column: col / span 12;
  grid-row: row 11 / span 1;
  display: flex;
  justify-content: center;
}
.grid-item-13 {
  grid-column: col / span 12;
  grid-row: row 12 / span 1;
}

.grid-item-14 {
  grid-column: col 2/ span 3;
  grid-row: row 13;
  display: flex;
}

.grid-item-15 {
  grid-column: col 5/ span 4;
  grid-row: row 13;
}

.grid-item-16 {
  grid-column: col 9/ span 3;
  grid-row: row 13;
}


.grid {
  & img{
    padding : $image_padding;
  }
    text-align: center;
}



.it_1 {
  grid-column: col / span 12;
  grid-row: row / span 1;
  display: flex;
  & div > p {
    margin: 5px;
  }
}
.it_2 {
  grid-column: col / span 12;
  grid-row: row 2 / span 1;
  display: flex;

  & div > p {
    margin: 5px;
  }
}

.it_3 {
  grid-column: col / span 12;
  grid-row: row 3 / span 1;
  display: flex;
  & div > p {
    margin: 5px;
  }
}
