@import "src/style/variables";


.grid {
  display: grid;
  grid-template-columns: repeat(12,[col]  1fr);
  grid-template-rows: repeat(14, [row] 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 10px;
}

.grid-item {
  background: #060606;
  text-transform: uppercase;
  padding: 0.2em;
  font-size: 14px;
}

.grid-item-1 {
  grid-column: col / span 2;
  grid-row: row / span 1;
}

.grid-item-2 {
  grid-column: col 3 / span 8;
  grid-row: row / span 1;
}

.grid-item-3 {
  grid-column: col 11 / span 2;
  grid-row: row / span 1;
}

.grid-item-4 {
  grid-column: col / span 12;
  grid-row: row 2 /span 2;
}

.grid-item-5 {
  grid-column: col / span 4;
  grid-row: row 3 / span 2;
}

.grid-item-6 {
  grid-column: col 5 / span 5;
  grid-row: row 3 / span 7
}

.grid-item-7 {
  grid-column: col 9 / span 4;
  grid-row: row 3 / span 2;
}

.grid-item-8 {
  grid-column: col / span 4;
  grid-row: row 5 / span 1;
}

.grid-item-9 {
  grid-column: col 9 / span 4;
  grid-row: row 5 / span 1;
}

.grid-item-10 {
  grid-column: col / span 4;
  grid-row: row 7/ span 3;
}

.grid-item-11 {
  grid-column: col 8 / span 4;
  grid-row: row 7 / span 3;
}

.grid-item-separator{
  grid-column: col / span 12;
  grid-row: row 10 / span 1;
}

.grid-item-12 {
  grid-column: col / span 12;
  grid-row: row 11 / span 2;
}
.grid-item-13 {
  grid-column: col / span 4;
  grid-row: row 12;
}

.grid-item-14 {
  grid-column: col 5/ span 4;
  grid-row: row 12;
}

.grid-item-15 {
  grid-column: col 9/ span 4;
  grid-row: row 12;
}


.grid {
  & img{
    padding : $image_padding;
  }
    text-align: center;
}


