<!--<link rel="stylesheet" href="home-laduree.component.scss" style="position: relative">
<script src="home.component.ts"></script>-->
<div class="grid">
  <div   class="grid-item grid-item-1 logo" ></div>
  <div   class="grid-item grid-item-3">
    <span class="material-icons">menu</span>
  </div>
  <div class="grid-item grid-item-4 " style="width: 100%; background-color: #0000">
    <table style="width: 50%;margin: 5%;float: right; height: 100%">
      <tr><td ><h1 style="float:right;font-size: 24px">La Durée</h1></td></tr>
      <tr><td style="float:right;font-size: 15px">Nexton nouvelle Agence </td></tr>
      <tr><td style="float:right;font-size: 15px"> degitale de La Durée </td></tr>
      <tr><td style="float:right;font-size: 15px">#User #eXperience</td></tr>
      <tr><td style="float:right;font-size: 15px">#User #Interface</td></tr>
      <tr><td style="float:right;font-size: 15px">#Content</td></tr>
      <tr><td style="float:right;font-size: 15px;text-decoration: underline">Voir</td></tr>
    </table>
  </div>
  <div  class="grid-item grid-item-6  N" >
  </div>
  <div class="grid-item grid-item-separator"></div>
  <div  class="grid-item grid-item-12 img_triangle-2">
  </div>
  <div class="grid-item grid-item-14" style="background-color: #0000"><p  style="text-align: left">Contacter nous</p></div>

  <div  class="grid-item grid-item-16 footer" style="background-color: #0000" >
    <img class="" src="assets/image/LinkedIn.svg">
    <img class="" src="assets/image/Twitter.svg">
    <img class="" src="assets/image/Instagram.svg">
  </div>
</div>






