
@import "variables";
@mixin background_url($url) {
  background: no-repeat url($url);
  }

@mixin text_menu($position, $decoration) {
  text-align: $position;
  text-decoration: $decoration;
}


@mixin flex-logo ($value){
  padding-left: $value;
  float: left;
  margin: 0px;
  font-family: $font_family;
  line-height: 4vw;
  font-size: 5vw;
  font-weight: bold;
  text-transform: initial;
}

@mixin default-lable ($size, $position){
  color: #ffffff;
  font-family: $font_family;
  font-size: $size;
  letter-spacing: 0;
  line-height: 5px;
  align-self: $position;
}

@mixin logo_size($logo_size) {
  width: $logo_size;
  height: 100%;
}

@mixin default_grid($row, $colum_gap, $row_gap){
    display: grid;
    grid-template-columns: repeat(12,[col]  1fr);
    grid-template-rows: repeat(14, [row] $row);
    grid-column-gap: $colum_gap;
    grid-row-gap: $row_gap;
    height: 100%;

}

//parti_responsive
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin rwd($screen) {
  @media (min-width: $screen+'px' ) {
    @content;
  }
}
