$bg-color: #000000;
$size: 1em;
$image_padding: 10px;
$logo_svg: '../assets/image/Logo%20-%20Nexton%20Agency_Logo%20impression.svg';
$N_svg: '../assets/image/N.png';
$font_family: Roboto Regular, arial;
