
<div class="grid">
  <div class="grid-item grid-item-1 logo"  ></div>
  <div class="grid-item grid-item-3">Menu icon </div>
  <div class="grid-item grid-item-4  "></div>
  <div class="grid-item grid-item-5"></div>
  <div  [@fadeIn] class="grid-item grid-item-6 N bloc-image  to-middle-top bloc-couleur couleur-remplissage" >
    <table class="width-max">
      <tr><td><h2 class="flex-text-expertise">L'expertise</h2></td></tr>
      <tr><td><h2 class="flex-text-exigence">L'exigence</h2></td></tr>
      <tr><td><h2 class="flex-text-qualite">La qualité</h2></td></tr>
    </table>
  </div>
  <div class="grid-item grid-item-7"></div>
  <div class="grid-item grid-item-8 " ><p [@fadeIn] class="text-menu-agency" >Agency</p></div>
  <div class="grid-item grid-item-9 "><p [@fadeIn] class="text-menu-expertise">Expertise</p></div>
  <div class="grid-item grid-item-10"></div>
  <div class="grid-item grid-item-11">
    <table><tr><td><p>#WebSite</p></td><td><p>#App</p></td><td><p>#User-eXperience</p></td></tr></table>
    <table><tr><td><p>#User-interface</p></td><td><p>#Coentent</p></td></tr></table>
    <table><tr><td><p>#socialMedia</p></td><td><p>#Dev</p></td></tr></table>
</div>


  <div class="grid-item grid-item-12"><p>Projets</p></div>
  <div class="grid-item grid-item-13"><p>Contacter nous</p></div>
  <div class="grid-item grid-item-14"></div>
  <div class="grid-item grid-item-15 footer">
    <img class="" src="assets/image/LinkedIn.svg">
    <img class="" src="assets/image/Twitter.svg">
    <img class="" src="assets/image/Instagram.svg">
</div>

 <!-- Exemple with query-->
 <!--<div class="heroes" [@fadeIn]><h1>Hello Ferchichi Hassen</h1>
 </div>-->






