
<h2>
  Not a typical 12 column grid based on CSS Grid Layout
</h2>

<div class="grid">

  <div class="grid-item grid-item-1">four columns two rows</div>
  <div class="grid-item grid-item-2">four columns three rows</div>
  <div class="grid-item grid-item-3">four columns</div>
  <div class="grid-item grid-item-4">four columns</div>
  <div class="grid-item grid-item-5">three columns</div>
  <div class="grid-item grid-item-6">one</div>
  <div class="grid-item grid-item-7">one</div>
  <div class="grid-item grid-item-8">three columns</div>
  <div class="grid-item grid-item-9">six columns</div>
  <div class="grid-item grid-item-10">three columns</div>
  <div class="grid-item grid-item-11">three columns</div>
  <div class="grid-item grid-item-12">twelve collumns</div>
</div>





