<div class="grid">
  <p>hassen</p>
  <div [@fadeIn]  class="grid-item grid-item-1 logo"  ></div>
  <div  [@fadeIn] class="grid-item grid-item-3">
    <span class="material-icons">menu</span>
  </div>
  <div class="grid-item grid-item-4  "></div>
  <div  class="grid-item grid-item-5  " ></div>
  <div  class="grid-item grid-item-6 N bloc-image to-middle-top bloc-couleur couleur-remplissage" >
    <div class="at-container" >
    <table class="block-text-align width-max" >
      <tr><td><h2 class="flex-text-expertise at-item">L'expertise</h2></td></tr>
      <tr><td><h2 class="flex-text-exigence at-container at-item">L'exigence</h2></td></tr>
      <tr><td><h2 class="flex-text-qualite at-container at-item">La qualité</h2></td></tr>
    </table>
    </div>
  </div>
  <div class="grid-item grid-item-7"></div>
  <div class="grid-item grid-item-8 " ><p [@fadeIn] class="text-menu-agency" >Agency</p></div>
  <div class="grid-item grid-item-9 "><p [@fadeIn] class="text-menu-expertise text-right">Expertise</p></div>
  <div class="grid-item grid-item-10"></div>
  <div class="grid-item grid-item-11 at-container ">
    <div class="it_1">
      <div><p class="at-item">#WebSite</p></div>
      <div><p class="at-item">#App</p></div>
      <div><p class="at-item">#User-eXperience</p></div>
    </div>
    <div class="it_2">
      <div><p class="at-item">#User-interface</p></div>
      <div><p class="at-item">#Content</p></div>
    </div>
    <div class="it_3">
      <div><p class="at-item">#socialMedia</p></div>
      <div><p class="at-item">#Dev</p></div>
    </div>
</div>
  <div class="grid-item grid-item-separator"></div>
  <div class="grid-item grid-item-12">
    <p [@fadeIn] >Projets</p>
  </div>
  <div class="grid-item grid-item-13">
    <div [@fadeIn]  class="bounce">
      <mat-icon  style="text-align: center">details</mat-icon>
    </div>
  </div>
  <div class="grid-item grid-item-14"><p [@fadeIn]  style="text-align: left">Contacter nous</p></div>
  <div class="grid-item grid-item-15"></div>
  <div [@fadeIn]  class="grid-item grid-item-16 footer">
    <img class="" src="assets/image/LinkedIn.svg">
    <img class="" src="assets/image/Twitter.svg">
    <img class="" src="assets/image/Instagram.svg">
</div>
 <!-- Exemple with query-->
 <!--<div class="heroes" [@fadeIn]><h1>Hello Ferchichi Hassen</h1>
 </div>-->






